/* Body */
body{
    display: block;

position: relative;

    height: 100%;
    margin: 0;
    padding: 0;

    aspect-ratio: 16/9;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Header */
header{
    display: block;

    position: relative;
    z-index: 999;

    width: auto;
    height: 175px;
    
    background-color: #FAFAFA;

    font-size: 20px;

    box-shadow:1px 0 3px grey;
}
header .main{
    position: relative;
    margin: 0 auto;

    max-width: 1200px;
    height: 180px;
}
header .logo{
    display: inline-block;

    margin-top: 25px;
    
    width: 24%;

    aspect-ratio: 20/4.5;
    background-image:url(../images/header-logo.svg) ;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

header .contacts{
    float: right; 
    margin: 0;
    margin-top: 6.5%;
    
    color: #969494;

    font-size: 1em;
    text-decoration: none;
}

header .payment{
    float: right; 
    margin: 0;
    margin-top: 6.5%;
    margin-right: 1%;

    color: #969494;

    font-size: 1em;
    text-decoration: none;
}

header .payment:visited{
    color: #969494;
}
header .contacts:visited{
    color: #969494;
}

header .hr{
    position: relative;

    margin: 0;
    margin-top: 10px;

    color: #4FB1A1;
    size: 2;
}

/* nav */
header .nav{
    text-align: center;
    margin: 0;
    padding: 0;
}
header .nav li{
    display: inline-block;
    line-height: 35px;

    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style-type: none;

    font-size: 1em;

    border:none;
    border-radius: 5px;

    background-color:#EDFAF5;

}

header .nav a{
    text-align: right;
    padding-right: 5%;
    display: block;

    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;

    text-decoration: none;
    background-repeat: no-repeat;
}
header .nav a:active{

    box-shadow: 2px 2px 2px -2px grey inset,
    -2px 2px 2px -2px grey inset;
}
header .nav a:visited{
    color: inherit;
}
/* Category */
header .category-li{
    float: left;
    width: 130px;
}
header .category{

    background-image: url(../images/category.svg);
    background-size: 20% auto;
    background-position: 4% 50%;
}
/* Search */
header .search-li{
    width: 430px;
    height: 35;
    box-shadow: 0 0 0 0;
    margin: 0 auto;

    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
}
header .search-input{
    height: 35;
    width: 395px;
    
    padding-left: 10px;
    font-size: 20px;
    border: none;

    background-color: transparent;
    outline:none;
}

header .search-button{
    width: 35px;
    height: 35px;
    padding: 0;

    float: right;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    background-image: url(../images/search.svg);
    background-size: 70% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    cursor: pointer;
}
/* Cart */
header .cart-li{
    float: right;
    width: 117px;
}
header .cart-a{

    background-image: url(../images/cart.svg);
    background-size: 17% auto;
    background-position: 9% 50%;
}
/* Login */
header .login-li{
    position: relative;
    right: 10px;
    float: right;
    width: 90px;
}
header .login-a{
    
    background-image: url(../images/login.svg);
    background-size: 25% auto;
    background-position: 7% 60%;
}

/* Main */

main {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 180px;
}
main .container{
    margin: 0;
    padding: 0px 20px;
}
/* BreadCrumps */
main .breadcrumps-list{
    padding: 0;
}
main .breadcrumps-item{
display: inline-block;
}
main .breadcrumps-link{
    color: #969494;
    text-decoration: none;
    margin-left: 5px;
    font-size: 19px;
}
main .breadcrumps-link:hover{
    color: #4FB1A1;
}
main .breadcrumps-link::after{
    content: "";
    display: inline-block;
    position: relative;
    border-right: 1px solid #969494;
    border-bottom: 1px solid #969494;

    transform: rotate(-45deg);
    left: 0px;
    bottom: 1px;
    width: 6px;
    height: 6px;
    cursor: default;
}
/* H1 */
main h1{
    color: black;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
/* Rating Star */
main .rating_star-block{
    margin: 0px;
    margin-top: 5px;
    height: 30px;
}
main .rating_star-svg{
    background: url(../images/rating-star.png);
    background-repeat: no-repeat;
    background-size: 10%;
}
main .product_main_container{
    padding-top: 0;
}
/* Product Photo */
main .main-product_photo{
    vertical-align: top;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid black;
}
/* Product Description */
main .main-product_description{
    display: inline-block;
    vertical-align: top;

    margin-left: 45px;
    padding: 0 10px;  

    width: 320px;
    max-height: none;
}
main .h2-description{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: Arial, Helvetica, sans-serif;
}
main .main-p-product_description{
    padding-left: 2px;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;

    font-family: Arial, Helvetica, sans-serif;
}
/* Pay Container */
main .product_pay_container{
    display: inline-block;
    margin-left: 45px;
    width: 280px;
    height: 100px;
    padding: 10px;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
}
main .price{
    font-size: 32px;
    font-weight: bold;

    font-family: Arial, Helvetica, sans-serif;
}
main .pay-button{
    margin-top: 18px;
    width: 200px;
    height: 35px;

    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;

    background-color: #EDFAF5;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;
}
main .pay-button:active{
    box-shadow: 2px 2px 2px -2px grey inset,
    -2px 2px 2px -2px grey inset;
}
/* Footer */
footer{
    position: absolute;
    left: 0px;
    bottom: 0px;

    width: 100%;
    height: 170px;
    
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0EFEF;

}
footer .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}
footer .footer-a-logo{
    display: inline-block;
    width: 24%;

    aspect-ratio: 20/4.5;
    background-image:url(../images/header-logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
footer .contacts-container{
    position: relative;
    bottom: 60px;
    left: 1000px;
}
footer .contacts-container a{
    position: relative;
    top: 10px;
}
