/* Body */
body{
    display: block;

position: relative;

    height: 100%;
    margin: 0;
    padding: 0;

    aspect-ratio: 16/9;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Header */
header{
    display: block;

    position: relative;
    z-index: 999;

    width: auto;
    height: 175px;
    
    background-color: #FAFAFA;

    font-size: 20px;

    box-shadow:1px 0 3px grey;
}
header a{
    color: black;
}
header .main{
    position: relative;
    margin: 0 auto;

    max-width: 1200px;
    height: 180px;
}
header .logo{
    display: inline-block;

    margin-top: 25px;
    
    width: 24%;

    aspect-ratio: 20/4.5;
    background-image:url(../../../images/header-logo.svg) ;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

header .contacts{
    float: right; 
    margin: 0;
    margin-top: 6.5%;
    
    color: #969494;

    font-size: 1em;
    text-decoration: none;
}

header .payment{
    float: right; 
    margin: 0;
    margin-top: 6.5%;
    margin-right: 1%;

    color: #969494;

    font-size: 1em;
    text-decoration: none;
}

header .payment:visited{
    color: #969494;
}
header .contacts:visited{
    color: #969494;
}

header .hr{
    position: relative;

    margin: 0;
    margin-top: 10px;
    color: #4FB1A1;
    size: 2;
}

/* nav */
header .nav{
    text-align: center;
    margin: 0;
    padding: 0;
}
header .nav li{
    display: inline-block;
    line-height: 35px;

    padding: 0;
    margin: 0;
    margin-top: 10px;
    list-style-type: none;

    font-size: 1em;

    border:none;
    border-radius: 5px;

    background-color:#EDFAF5;

}

header .nav a{
    text-align: right;
    padding-right: 5%;
    display: block;

    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;

    text-decoration: none;
    background-repeat: no-repeat;
}
header .nav a:active{

    box-shadow: 2px 2px 2px -2px grey inset,
    -2px 2px 2px -2px grey inset;
}
header .nav a:visited{
    color: inherit;
}
/* Category */
header .category-li{
    float: left;
    width: 130px;
}
header .category{

    background-image: url(../../../images/category.svg);
    background-size: 20% auto;
    background-position: 4% 50%;
    color: black;
}
/* Search */
header .search-li{
    width: 430px;
    height: 35;
    box-shadow: 0 0 0 0;
    margin: 0 auto;

    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
}
header .search-input{
    height: 35;
    width: 395px;
    
    padding-left: 10px;
    font-size: 20px;
    border: none;

    background-color: transparent;
    outline:none;
}

header .search-button{
    width: 35px;
    height: 35px;
    padding: 0;

    float: right;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    background-image: url(../../../images/search.svg);
    background-size: 70% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    cursor: pointer;
}
/* Cart */
header .cart-li{
    float: right;
    width: 117px;
}
header .cart-a{

    background-image: url(../../../images/cart.svg);
    background-size: 17% auto;
    background-position: 9% 50%;
}
/* Login */
header .login-li{
    position: relative;
    right: 10px;
    float: right;
    width: 100px;
}
header .login-a{
    
    background-image: url(../../../images/login.svg);
    background-size: 25% auto;
    background-position: 7% 60%;
}
header .logout-a{
    background-image: none;
}

/* Main */

main {
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 150px;
}
main .container::after{
    content: ".";
    background-color: red;
    display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

main .container{display: inline-block;}
/* Hides from IE-mac \*/
* html main .container { height: 1%;}
main .container{display: block;}
/* End hide from IE-mac */
/* BreadCrumps */
main .breadcrumps-list{
    padding: 0;
}
main .breadcrumps-item{
display: inline-block;
}
main .breadcrumps-link{
    color: #969494;
    text-decoration: none;
    margin-left: 5px;
    font-size: 19px;
}
main .breadcrumps-link:hover{
    color: #4FB1A1;
}
main .breadcrumps-link::after{
    content: "";
    display: inline-block;
    position: relative;
    border-right: 1px solid #969494;
    border-bottom: 1px solid #969494;

    transform: rotate(-45deg);
    left: 0px;
    bottom: 1px;
    width: 6px;
    height: 6px;
    cursor: default;
}
/* H1 */
main h1{
    color: black;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
/* Rating Star */
main .rating_star-block{
    margin: 0px;
    margin-top: 5px;
    height: 30px;
}
main .rating_star-svg{
    background: url(../../../images/rating-star.png);
    background-repeat: no-repeat;
    background-size: 10%;
}
main .product_main_container{
    padding-top: 0;
}
/* Product Photo */
main .main-product_photo{
    vertical-align: top;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid black;
}
/* Product Description */
main .main-product_description{
    display: inline-block;
    vertical-align: top;

    margin-left: 45px;
    padding: 0 10px;  

    width: 320px;
    max-height: none;
}
main .h2-description{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;

    font-family: Arial, Helvetica, sans-serif;
}
main .main-p-product_description{
    padding-left: 2px;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;

    font-family: Arial, Helvetica, sans-serif;
}
/* Pay Container */
main .product_pay_container{
    display: inline-block;
    margin-left: 45px;
    width: 280px;
    height: 100px;
    padding: 10px;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
}
main .price{
    font-size: 32px;
    font-weight: bold;

    font-family: Arial, Helvetica, sans-serif;
}
main .pay-button{
    display: block;
    margin-top: 18px;
    width: 200px;
    height: 35px;
    padding-top: 10px;
    text-align: center;

    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;

    background-color: #EDFAF5;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
main .pay-button:active{
    color: black;
    box-shadow: 2px 2px 2px -2px grey inset,
    -2px 2px 2px -2px grey inset;
}
main .pay-button:visited{
    color: black;
}

main .modification_cart{
    display: flex;
    /* display: none; */
    align-items: center;
    margin-top: 18px;
    width: 200px;
    height: 35px;

    /* background-color: red; */
}
main .modification_cart a{
    display: inline-flex;
    width: 75px;
    height: 35px;

    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
    

    background-color: #EDFAF5;

    background-repeat: no-repeat;
    background-size: 40%;
    background-position:50%, 50% ;

    cursor: pointer;
}
main .modification_cart a:active{
    color: black;
    box-shadow: 2px 2px 2px -2px grey inset,
    -2px 2px 2px -2px grey inset;
}
main .modify_cart_remove{
    background-image: url(../../../images/minus.svg);
}
main .count_cart{
    margin: 0 10px;
    width: 35px;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}
main .modify_cart_add{
    background-image: url(../../../images/plus.svg);
}
main .modify_cart_delete{
    margin-left: 20px;
    background-image: url(../../../images/trash.svg);
}
/* Footer */
footer{

    width: 100%;
    height: 150px;
    

    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0EFEF;
clear: both;
}
footer .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}
footer .footer-a-logo{
    display: inline-block;
    width: 24%;

    aspect-ratio: 20/4.5;
    background-image:url(../../../images/header-logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
footer .contacts-container{
    position: relative;
    bottom: 60px;
    left: 1000px;
}
footer .contacts-container a{
    position: relative;
    top: 10px;
}



/* Category */
main .category-h2{
    margin-left: 10px;
}
main .category-clearfix{
    overflow: hidden;
    list-style: none;
    margin: 20px 0 0 -10px;
    /* padding: 0; */
}

main .category-product_wrapper{
    display: block;
    width: 25%;
    float: left;
    transition: width .2s;
}
main .category-product{
    display: block;
    position: relative;
    margin: 0 20px 20px 0;
    text-decoration: 0;
    color: black;
    height: 300px;
}
main .category-product:hover{
    border:none;
    border-radius: 5px;
    box-shadow: 0px 0px 7px -2px grey;
    /* -2px 2px 3px -2px grey; */
}
main .category-product-a{
    display: block;
    padding-top: 10px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
}
main .category-product-a:visited{
    color: black;
}
main .category-product_photo-span{
    display: block;
    width: 100%;
}
main .category-product_photo{
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 75%;
}
main .category-prosuct-h3{
    margin: 0;
    margin-top: 10px;
    text-align: center;
}
main .category-product-price{
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#showmore-triger {
	text-align: center;
}

/* CART */

main .container_cart_items{
    padding-left: 20px;
    width: 70%;
}
main .cart_item{
    /* background-color: blue; */
    width: 100%;
    height: 120px;
}
main .cart_item_photo-a{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
main .cart_item_photo-img{
    width: 100%;
    height: 100%;
}
main .cart_item_product_name_price{
    display: inline-block;
    vertical-align: top;
    width: 500px;
    height: 100%;

    margin-left: 5px;
}
main .cart_item_product_name{
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 18px;
}
main .cart_item_product_description{
    width: 100%;
    height: 70px;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 5px;
}
main .delete_cart_item{
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}
main .delete_cart_item:hover{
    text-decoration: none;
}
main .delete_cart_item{
    color:black;
}
main .cart_hr{
    color: #4FB1A1;
}
main .cart_item_modification_cart{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 100%;
    width: 220px;
    margin-top: 0px;
}
main .cart_item_modification_cart .modification_cart{
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}
main .price_cart{
    display: block;
    text-align: center;
    margin-top: 5px;
}

/* FORM_WRAPPER */

.form_wrapper{
    position: fixed;
    margin-top: 10px;
    text-align: center;
    z-index: 1147483647;
    display: none;
    width   : 100%;
}	
.wrapper_hider{
    position: absolute;
    background-color: #000;
    opacity: 50%;
    min-height: 100%;
    min-width: 100%;
    z-index: 1147483646;
    display: none;
}
.form_wrapper .wrapper_head{
    padding: 10px 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    background-color: #4FB1A1;
    color:black;
    font-size:25px;
    border-bottom:1px solid #ddd;
    border-radius: 5px 5px 0px 0px;
    
}
.form_wrapper .wrapper_h{
    margin-left: 25px;
    /* display: inline-block; */
}
.form_wrapper .wrapper_close{
    display: flex;
    margin-right: 10px;
    float: right;
    width: 20px;
    height: 20px;
    background-image:url(../../../images/close.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.form_wrapper form{
    margin: 0 auto;
    display:none;
    background:#EDFAF5;
}
form.active{
    display:block;
}	
.login{
    width:350px;
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
}
.registration{
    width:450px;
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
}
.form_wrapper .column{
    width:67%;
    margin: 0 auto;
    /* float: ; */
}
.form_wrapper a{
    text-decoration:none;
    color:#777;
    font-size:12px;
}
.form_wrapper a:hover{
    color:#000;
}
.form_wrapper label{
    display:block;
    padding:10px 30px 0px 30px;
    margin:10px 0px 0px 0px;
} 
.form_wrapper .bottom{
    margin-top:20px;
}
.form_wrapper .bottom a{
    font-size: 15px;
    display:block;
    padding:10px;
    text-align:center;
    color: #4FB1A1;
}
.form_wrapper .bottom a:hover{
    color:#000;
}
.form_wrapper input[type="submit"] {
    border:none;
    border-radius: 5px;
    background-color: #4FB1A1;;
    box-shadow: 2px 2px 3px -2px grey,
    -2px 2px 3px -2px grey;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0 9px;
    text-align: center;
    width: 150px;
    cursor:pointer;
}
.form_wrapper input[type="submit"]:hover {
    color: black;
    background-color: #58c5b3;;
    box-shadow: 2px 2px 2px -2px grey inset,
    -2px 2px 2px -2px grey inset;
}
.form_wrapper .error{
    font-size: 14;
    color: red;
    display: none;
}